/* common css */
body {
  background-image: url(../img/background/star.jpg);
  text-align: center;
}
section {
  padding: 10px;
}
nav {
  padding: 10px;
}
.big-icon {
  width: 128px;
  height: 128px;
  display: inline-block;
  border-radius: 32px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1.0);
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 6px #000;
}
#aboutme {
  background-image: url(../img/koturn.png);
}

#home-link {
  background-image: url(../img/home.png);
}

/* home css */
#link-area {
  border-radius: 32px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.0);
}
#link-area p {
  margin-top: 4px;
  margin-bottom: 4px;
}
#link-area .link-center {
  margin-left: 2px;
  margin-right: 2px;
}

.link-icon {
  width: 64px;
  height: 64px;
  display: inline-block;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1.0);
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 6px #000;
}
#twitter-link {
  background-image: url(../img/twitter.png);
}
#hatena-link {
  background-image: url(../img/hatena.png);
}
#bitbucket-link {
  background-image: url(../img/bitbucket.png);
}
#github-link {
  background-image: url(../img/github.png);
}
#jsdoit-link {
  background-image: url(../img/jsdoit.png);
}
#onedrive-link {
  background-image: url(../img/onedrive.png);
}
#slideshare-link {
  background-image: url(../img/slideshare.png);
}

/* aboutme css */
.aboutme-item ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
section.aboutme-item {
  display: inline-block;
  width: 50%;
  border-radius: 32px;
  text-align: center;
  margin: 24px;
}
